@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.wrap {
  text-align: center;
  width: 80vw;
  margin: 0 auto;
  padding: 20px 0;
  font-family: 'Roboto', sans-serif;
  font-size: 18px;

  .addTask {
    width: 100%;
  }
}